/*************** Header *********************/ 
.header {
  height: 22px;  
  background-color: #222222;   
}

.headerChild {
  width: 1024px;
  height: 22px;  
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.ofertas { 
  color: #F3F3F3;
  font-size: 10px;
  font-weight: 400;  
}

/******** main *******/  

.main {
  height: 62px; 
  background-color: #F0A83E;   
}

.mainChild {
  width: 1024px;
  height: 62px;   
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;    
}

.containerMenu {
  display: flex; 
}

.menuItem {    
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-right: 12px; 
  font-size: 13px; 
  font-weight: 400;  
  color: #fff;
}

.menuItems {
  display: flex; 
  justify-content: center;  
  align-items: center; 
  font-size: 13px; 
  font-weight: 400; 
  color: #fff; 
}

.pata {
  margin-right: 3px; 
}

.image {  
  display: flex;
  justify-content: center; 
  background-color: #a5debb;    
}

.containerProducts {
  display: flex;
  flex-direction: column; 
  justify-content: center;  
  align-items: center; 
  margin-top: 25px; 
}

.titleProducts {
  font-weight: 700;  
  font-size: 3rem;
  margin-top: 20px;   
}

.containerItemsProdusts { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 23px; 
}

.itemProduct {
  margin-right: 20px; 
  font-size: 15px; 
}

.itemMiddle {
  margin: 0 20px;
  font-size: 15px; 
}

.itemEnd {
  margin-left: 20px;  
  font-size: 15px; 
}

.containerCards {
  margin-top: 50px; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.contianerCardsChild {
  background-color: #FBFAF6; 
  margin-bottom: 80px; 
  margin-right: 22px; 
} 

.contianerCardsChildLast {
  background-color: #FBFAF6; 
  margin-bottom: 80px;   
}

.titleChurrasquito {
  margin-bottom: 5px; 
}

.divChurrasquito {
  display: flex; 
  flex-direction: column; 
  justify-content: center;     
  align-items: center;  
  background-color: #FBFAF6;  
  height: 50px; 
}

.continerInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.divContato {
  text-align: center; 
  font-size: 25px; 
  font-weight: 700; 
  margin-bottom: 20px; 
}

.inputSpacing { 
  margin-bottom: 10px; 
}

.inputSpacingg {
  margin-bottom: 50px; 
}

.inputCustom { 
  width: 340px; 
  height: 40px;  
  border-radius: 1rem;   
  background-color: #3C2313;  
  border: none; 
  padding-left: 1rem; 
  color: #fff;
}

.limpar {
  width: 110px;
  height: 34px; 
  border-radius: 1rem;
  margin-right: 7px;  
  background-color: #8A8787; 
  border: none;  
  color: #fff; 
  cursor: pointer;
}

.enviar {
  width: 110px;
  height: 34px; 
  border-radius: 1rem;
  background-color: #F0A83E; 
  border: none;   
  color: #fff; 
  cursor: pointer;    
}

/********* Footer **********/  

.footer {
  margin-top: 83px; 
  background-color: #F0A83E;  
}

.footerChild {
  display: flex; 
  justify-content: space-between;   
  align-items: center; 
  width: 1024px; 
  height: 60px; 
  margin: 0 auto;
}

.conteudoFooter {
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.correio {
  margin-right: 10px;  
}

.divButtonAndInput {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.ButtonEnviar {
  width: 70px; 
  height: 34px; 
  background-color: #3C2313; 
  border-radius: 1rem; 
  color: #fff;
  cursor: pointer;
  border: none;
  margin-left: 10px; 
} 

.inputNovidades {
  width: 271px;
  height: 40px; 
  border-radius: 1rem; 
  border: none; 
  color: #A0A0A0;
  padding-left: 1rem; 
} 

.contatos {
  background-color: #3C2313;  
  padding: 30px 0;
}

.containerContatos { 
  width: 1024px;  
  margin: 0 auto;  
}

.contatosChild {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;   
}

.contatosChildd {
  display: flex;
  align-items: flex-start;
}

.imageContatos {
  margin-right: 30px; 
}

.descriptionLocation {
  margin-top: 3px; 
  color: #fff; 
  margin-bottom: 3px; 
  font-size: 20px; 
}

.descriptionLocationChild {
  color: #8A8787;
  font-size: 11px;  
}

.containerMasterContatos {
  width: 1024px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.headerChildd { 
  width: 1024px;
  height: 22px;  
  margin: 0 auto;  
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.titleNovidades {
  color: #fff;
}

/************* mobile ******************/
@media(max-width: 730px) { 
  .footerChild {
    flex-direction: column; 
    height: 101px;  
  }

  .divButtonAndInput {
    margin-bottom: 10px; 
  }

  .conteudoFooter {
    justify-content: flex-start;    
    margin-right: 49px;   
  }

  .containerMenu {
    flex-direction: column; 
  }

  .containerMasterContatos {
    flex-direction: column; 
  }

  .ContainerContatos {
    order: 1
  }

  .ContainerContatosTwo {
    order: -1;
    margin-bottom: 30px;  
  } 

  .contianerCardsChild {
   margin-right: 0px;  
  }

  .imageChild {
    width: 100%;    
  }
}


@media(max-width: 1050px) {
  .headerChild {
    width: 90%; 
  }

  .imageChild {
    width: 110%;   
  }

  .mainChild {
    width: 90%; 
  }

  .footerChild {
    width: 90%;  
  } 

  .containerContatos  {
    width: 90%; 
  }

  .containerMasterContatos {
    width: 90%;  
  }

  .containerCards {
    flex-wrap: wrap; 
  }

  .headerChildd { 
    width: 90%; 
  }

  .titleProducts {
    text-align: center; 
  }
}





